body {
    font-family: 'Open Sans';
  }
h1 {
    color: #808080
    font-family: 'Open Sans';
    font-size: 32px;
    align: 
}
h2{
    color: #808080
    font-family: 'Open Sans';
    font-size: 15px;
}
p {
    font-size: 12px;
   
}
li {
    list-style-type: disclosure-closed;
}
#businesscard{

}

.BusinessAni {

}

@keyframes businesscard {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.employment {

}

.titles {
    //titles
}

#myphoto
{
//class for photos
}
.links
{
    //class for icons
}

.container {
    margin-left:25%;
    Margin-right:25%;
    margin-top: 25%;
    width: 500px;
    height: 300px;
    padding: 30px;
    padding-bottom: 150px;
    border: 1px black;
    background-color: #c0c0c0;
}
.foot
{
    text-align: center;
}