@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html {
    background:rgb(45, 43, 43);
    color:orange;
    font-family: 'Cormorant Garamond', Helvetica, Arial, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

body{
    margin-left: 5%;
    margin-right: 5%;
}

.body{
    color: rgb(255, 220, 220);
}

h2{
    margin-bottom: 0%;
    margin-top: 5%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    text-decoration: underline;
    text-decoration-color:orange;
    transition: .7s;
}
a:hover{
    color: orange;
    text-decoration-color:white;
    /* -webkit-transform: scale(1.2);
    transform: scale(1.2); */
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.nav-link{
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

#names-list{
    text-align: center;
    padding: 0%;
    list-style: none;
    height: fit-content;
    width: 40vw;
}

li{
    margin: 1%;
    display:inline-block;
    /* transition: .7s; */
}
li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

footer{
    margin-top: 10%;
    text-align: center;
}