html {
    background:rgb(45, 43, 43);
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    margin-left: 5%;
    margin-right: 5%;
}

.body{
    color: rgb(255, 220, 220);
}
#main-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

h2{
    margin-bottom: 0%;
    margin-top: 5%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    color: rgb(223, 223, 223);
    text-decoration: underline;
    text-decoration-color:orange;
}
a:hover{
    color: orange;
    text-decoration-color:rgb(223, 223, 223);
    transition: .7s;
}


nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.nav-link{
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
}

#names-list{
    text-align: center;
    padding: 0%;
    list-style: none;
    width: 80%;
    height: fit-content;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    /*
    display: block;
    text-align: center;
    width:1000px;
    */
}

li{
    margin: 1%;
}

footer{
    margin-top: 10%;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}